/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * alternate-gothic-atf:
 *   - http://typekit.com/eulas/00000000000000007735c73a
 *   - http://typekit.com/eulas/00000000000000007735c73c
 *   - http://typekit.com/eulas/00000000000000007735c73d
 *   - http://typekit.com/eulas/00000000000000007735c741
 *   - http://typekit.com/eulas/00000000000000007735c74f
 *   - http://typekit.com/eulas/00000000000000007735c74a
 *   - http://typekit.com/eulas/00000000000000007735c752
 *   - http://typekit.com/eulas/00000000000000007735c756
 *   - http://typekit.com/eulas/00000000000000007735c75b
 * alternate-gothic-atf-thin:
 *   - http://typekit.com/eulas/00000000000000007735c744
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-08-24 08:14:04 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nat5kih&ht=tk&f=44881.44882.44883.44884.44885.44886.44887.44888.44889.45271&a=87440575&app=typekit&e=css");

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/1e5eee/00000000000000007735c73a/30/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/1e5eee/00000000000000007735c73a/30/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/1e5eee/00000000000000007735c73a/30/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/8d7d0a/00000000000000007735c73c/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/8d7d0a/00000000000000007735c73c/30/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/8d7d0a/00000000000000007735c73c/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/13a7d7/00000000000000007735c73d/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/13a7d7/00000000000000007735c73d/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/13a7d7/00000000000000007735c73d/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/5ab2eb/00000000000000007735c741/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5ab2eb/00000000000000007735c741/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5ab2eb/00000000000000007735c741/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/18097b/00000000000000007735c74f/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/18097b/00000000000000007735c74f/30/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/18097b/00000000000000007735c74f/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/13197b/00000000000000007735c74a/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/13197b/00000000000000007735c74a/30/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/13197b/00000000000000007735c74a/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/889bfc/00000000000000007735c752/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/889bfc/00000000000000007735c752/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/889bfc/00000000000000007735c752/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/9a3e73/00000000000000007735c756/30/l?subset_id=2&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/9a3e73/00000000000000007735c756/30/d?subset_id=2&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/9a3e73/00000000000000007735c756/30/a?subset_id=2&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf";
src:url("https://use.typekit.net/af/fb328a/00000000000000007735c75b/30/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/fb328a/00000000000000007735c75b/30/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/fb328a/00000000000000007735c75b/30/a?subset_id=2&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"alternate-gothic-atf-thin";
src:url("https://use.typekit.net/af/8f3cca/00000000000000007735c744/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/8f3cca/00000000000000007735c744/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/8f3cca/00000000000000007735c744/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

.tk-alternate-gothic-atf { font-family: "alternate-gothic-atf",sans-serif; }
.tk-alternate-gothic-atf-thin { font-family: "alternate-gothic-atf-thin",sans-serif; }
